*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.contact-wrapper{
    background-color: #3e265f;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:white;
}

.contact-wrapper .logo{
    font-size: 24px;
    font-weight: bolder;
    display: flex;
}
.contact-wrapper .logo i{
    color:gold;
}

.contact-wrapper .contact{
    display: flex;
    font-size: 14px;
    
}

.contact-wrapper .contact .info{
    display: flex;
    justify-content: space-between;
    margin-left: 110px;
    
}
.contact-wrapper .contact .info .info-details{
    margin-left:10px
}

.icon-wrapper{
    width:40px;
    height:40px;
    background-color: rgb(45, 45, 137);
    border-radius: 50% 50%;
    display: flex;
    
    
}
.icon-wrapper i{
    margin:auto;
    color:yellow;
}
